@media only screen and (max-width:1160px) {}

@media only screen and (max-width:992px) {}

@media only screen and (max-width:768px) {
    .icons {
        display: block;
    }

    .list-ul {
        display: none;
    }

    #header::after {
        display: none;
    }

    .header-content {
        padding: 40px 0px;
    }

    .header-content .header-h1 {
        width: 100%;
    }

    .header-content .header-p {
        width: 100%;
    }

    #sec1 .row {
        flex-direction: column;
    }

    #sec1 .row .col {
        margin: 20px 0px;
    }

    .our-text .our-p {
        width: 100%;
    }

    #our .row {
        flex-direction: column;

    }

    #our .row .col {
        /* border: 2px solid; */
        width: 70%;
        margin: 0 auto;
    }

    .card-content .card-p {
        width: 100%;
    }

    #project {
        flex-direction: column;
    }

    #project img {
        height: 300px;
    }

    #project .row {
        display: block;
        /* flex-direction: column; */
    }
    #project .row .col{
        width: 100%;
    }
    #foot .row{
        display: block;
    }
    #foot .row .col{
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width:576px) {}