@media only screen and (max-width:1160px) {
    
}
@media only screen and (max-width:992px) {
    
}
@media only screen and (max-width:768px) {
    .icons{
        display: block;
    }
    .list-ul{
        display: none;
    }
    #header::after {
        display: none;
    }
     .header-content{
        padding: 40px 0px;
     }
    .header-content .header-h1 {
        width: 100%;
    }
    .header-content .header-p {
        width: 100%;
    }
}
@media only screen and (max-width:576px) {

}
